In [1]:
import snscrape.modules.twitter as stwitter
import pandas as pd
import numpy as np
import pickle as pkl 
from datetime import datetime
import datetime as dt

In [2]:
df = pd.read_pickle('tweets_final_v2.pkl')
df

,datetime,id,url,content,username,like_count
0,2020-12-31 23:36:38+00:00,1344789593669861376,https://twitter.com/Chaseyyx_/status/134478959...,@7EV24 @5m5v_en Have you tried plantbased meat...,Chaseyyx_,0
1,2020-12-31 23:33:17+00:00,1344788749402529792,https://twitter.com/Chaseyyx_/status/134478874...,@lilcrybaeby @5m5v_en Do it! Have you tried pl...,Chaseyyx_,0
2,2020-12-31 23:32:51+00:00,1344788639604121600,https://twitter.com/Chaseyyx_/status/134478863...,@ddashaaa_ @5m5v_en Do it! Have you tried plan...,Chaseyyx_,0
3,2020-12-31 23:32:24+00:00,1344788527272185856,https://twitter.com/Chaseyyx_/status/134478852...,@iadoremymy @5m5v_en Do it! Have you tried pla...,Chaseyyx_,0
4,2020-12-31 23:32:03+00:00,1344788438189441024,https://twitter.com/Chaseyyx_/status/134478843...,@BeautyyNEssence @5m5v_en Do it! Have you trie...,Chaseyyx_,1
...,...,...,...,...,...,...
9445,2022-01-01 09:31:38+00:00,1477210901509980160,https://twitter.com/dan_fuzz/status/1477210901...,Anti-Vegan Lifestyle Brand Launches So People ...,dan_fuzz,0
9446,2022-01-01 08:22:36+00:00,1477193527146659840,https://twitter.com/lmmolated/status/147719352...,ever since i stopped eating meat i’ve been fee...,lmmolated,0
9447,2022-01-01 04:56:48+00:00,1477141737386790913,https://twitter.com/SilentMindy9/status/147714...,@lil_jihad @soveganawkward 1. human meat is ta...,SilentMindy9,3
9448,2022-01-01 04:08:07+00:00,1477129483476172803,https://twitter.com/Animal_Posting/status/1477...,"""Peace in all lives""\nWhy do we repeat #violen...",Animal_Posting,0
9449,2022-01-01 02:00:01+00:00,1477097246680309770,https://twitter.com/NadiaBCarmon/status/147709...,I can see Hannibal pulling a vegan meat prank....,NadiaBCarmon,13

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33580 entries, 0 to 9449
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    33580 non-null  datetime64[ns, UTC]
 1   id          33580 non-null  int64
 2   url         33580 non-null  object
 3   content     33580 non-null  object
 4   username    33580 non-null  object
 5   like_count  33580 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(2), object(3)
memory usage: 1.8+ MB

Sort dates in order

In [4]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [6]:
df.sort_values(by='datetime', ascending= True, inplace = True)
df

,datetime,id,url,content,username,like_count
13585,2020-01-01 00:00:43+00:00,1212161696296517632,https://twitter.com/helloamygarner/status/1212...,I stopped being a meat-loving disaster in the ...,helloamygarner,0
13584,2020-01-01 00:04:29+00:00,1212162642535763973,https://twitter.com/Taertebjerg/status/1212162...,Arnold Schwarzenegger has ditched meat and dai...,Taertebjerg,0
13583,2020-01-01 00:31:12+00:00,1212169364771950593,https://twitter.com/plantpowercoupl/status/121...,What?!?!?!?!?!?!?\n\nFYI - this is one of thos...,plantpowercoupl,3
13582,2020-01-01 00:31:33+00:00,1212169452860522496,https://twitter.com/FurForceFive/status/121216...,Reducing your meat &amp; dairy intake can help...,FurForceFive,1
13581,2020-01-01 01:32:27+00:00,1212184780659396608,https://twitter.com/CatMumof4/status/121218478...,@KFC_UKI What plant based products will be use...,CatMumof4,0
...,...,...,...,...,...,...
4,2022-10-13 20:10:00+00:00,1580652092263632897,https://twitter.com/LotusHealthInst/status/158...,It's all fun and games or is it? #vegetarian #...,LotusHealthInst,0
3,2022-10-13 20:16:44+00:00,1580653787777470464,https://twitter.com/th3awkwardvegan/status/158...,@luellensynergyq If it’s things like beyond bu...,th3awkwardvegan,1
2,2022-10-13 20:27:31+00:00,1580656502313844741,https://twitter.com/luellensynergyq/status/158...,@th3awkwardvegan That would be fine with me to...,luellensynergyq,1
1,2022-10-13 20:50:35+00:00,1580662306706313217,https://twitter.com/TheCoopInBham/status/15806...,"Frozen pizza is a classic, easy meal for all. ...",TheCoopInBham,0
0,2022-10-13 21:29:29+00:00,1580672095997919232,https://twitter.com/froggattpj/status/15806720...,@alissamarieek There is no such thing as Vegan...,froggattpj,0

In [7]:
df.reset_index(drop=True, inplace=True)

In [8]:
df

,datetime,id,url,content,username,like_count
0,2020-01-01 00:00:43+00:00,1212161696296517632,https://twitter.com/helloamygarner/status/1212...,I stopped being a meat-loving disaster in the ...,helloamygarner,0
1,2020-01-01 00:04:29+00:00,1212162642535763973,https://twitter.com/Taertebjerg/status/1212162...,Arnold Schwarzenegger has ditched meat and dai...,Taertebjerg,0
2,2020-01-01 00:31:12+00:00,1212169364771950593,https://twitter.com/plantpowercoupl/status/121...,What?!?!?!?!?!?!?\n\nFYI - this is one of thos...,plantpowercoupl,3
3,2020-01-01 00:31:33+00:00,1212169452860522496,https://twitter.com/FurForceFive/status/121216...,Reducing your meat &amp; dairy intake can help...,FurForceFive,1
4,2020-01-01 01:32:27+00:00,1212184780659396608,https://twitter.com/CatMumof4/status/121218478...,@KFC_UKI What plant based products will be use...,CatMumof4,0
...,...,...,...,...,...,...
33575,2022-10-13 20:10:00+00:00,1580652092263632897,https://twitter.com/LotusHealthInst/status/158...,It's all fun and games or is it? #vegetarian #...,LotusHealthInst,0
33576,2022-10-13 20:16:44+00:00,1580653787777470464,https://twitter.com/th3awkwardvegan/status/158...,@luellensynergyq If it’s things like beyond bu...,th3awkwardvegan,1
33577,2022-10-13 20:27:31+00:00,1580656502313844741,https://twitter.com/luellensynergyq/status/158...,@th3awkwardvegan That would be fine with me to...,luellensynergyq,1
33578,2022-10-13 20:50:35+00:00,1580662306706313217,https://twitter.com/TheCoopInBham/status/15806...,"Frozen pizza is a classic, easy meal for all. ...",TheCoopInBham,0
33579,2022-10-13 21:29:29+00:00,1580672095997919232,https://twitter.com/froggattpj/status/15806720...,@alissamarieek There is no such thing as Vegan...,froggattpj,0

Check for duplicates

In [9]:
# Select all duplicate rows based on multiple column names in list
duplicated_df = df[df.duplicated(['datetime', 'content', 'username'])]
print("Duplicate Rows based on 3 columns are:", duplicated_df, sep='\n')

Duplicate Rows based on 3 columns are:
Empty DataFrame
Columns: [datetime, id, url, content, username, like_count]
Index: []

Get rid of columns not needed for analysis

In [10]:
df.drop(['id'], axis = 1, inplace = True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33580 entries, 0 to 33579
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    33580 non-null  datetime64[ns, UTC]
 1   url         33580 non-null  object
 2   content     33580 non-null  object
 3   username    33580 non-null  object
 4   like_count  33580 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(1), object(3)
memory usage: 1.3+ MB

Understand statistics on like counts

In [12]:
df.describe()

         like_count
count  33580.000000
mean       6.232847
std       69.290670
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max     5344.000000

In [13]:
#final save for cleaned data 

df.to_pickle('df_clean.pkl')